* {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
}

#homepageCards {
  display: none;
}
.active {
  display: block;
}


/* NAVIGATION */

#homePageNav-mobile{
  display: none;
}

.navigation ul {
  list-style: none;
  background-color: #34495E;
}

.navigation li {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
  position: relative;
}

.navigation .lItem-1::after {
  display: none;
  content: "";
  width: 150px;
  height: 5px;
  position: absolute;
  left: -100%;
  bottom: -10px;
  background-color: yellow;
}

.navigation .lItem-2::after {
  display: none;
  content: "";
  width: 150px;
  height: 5px;
  position: absolute;
  left: -50%;
  bottom: -10px;
  background-color: yellow;
}

/* NAVIGATION-2 */

.navigation-2 {
  border-bottom: 1px solid #a4a4a4;
}

.navigation-2 .leftNav a {
  text-decoration: none;
  color: #8894A0;
}

.navigation-2 .rightNav button {
  color: #66332B;
  width: 100px;
  height: 45px;
  border: 1px solid #E4E4E4;
  background-color: rgb(255, 255, 255);
}

.navigation-2 .rightNav input {
  width: 120px;
  height: 45px;
  border: 1px solid #E4E4E4;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}

#addButton {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 15px;

  background-color: #66332B;
  border: none;

  position: fixed;
  bottom: 4rem;
  right: 4rem;
}

/* NAVIGATION COMPONENT */

#navigationComponent {
  background-color: #34495E;
}

/* CREATE ORDER PAGE */

#createOrderPage p,
h3 {
  margin: 0;
  padding: 0;

}

/* CONFIGURE ORDER PAGE */

.configureMenu ul {
  width: 450px;
}

.configureMenu {
  margin-bottom: 20px;

}

.configureMenuBtns {
  position: relative;
  background: none;
  width: 450px;
  text-align: left;
}

.dropdownIcon {
  position: absolute;
  right: 10px;
  top: 5px
}

/* CART PAGE */

.quantitySelector button {
  background-color: rgb(243, 243, 243);

}

.cartPagebuttons .btn {
  color: #66332B;
  border-color: #66332B;
}

.summary div {
  display: flex;
  justify-content: space-between;

}


/* MEDIA QUERUES */

/* For Tabs */

@media only screen and (min-width : 724px) and (max-width : 1024px) {

  #homePageNav-mobile{
    display: block;
  }
  #homePageNav-desktop{
    display: none !important;
  }

  #homepageCards {
    display: block;
  }

  #homepageTable {
    display: none !important;
  }

  #createOrderPage {
    padding: 10px !important;
    width: 100% !important;
  }

  #createOrderPage_2 {
    width: 100% !important;

  }

  #createOrderPage_2 #container {
    padding: 25px;
    width: 100% !important;

  }

  #createOrderPage_2 .card {
    height: auto !important;

  }

  #createOrderPage_3 {
    width: 100% !important;
    padding: 10px;
    overflow: hidden;
  }

  #createOrderPage_3 .container {
    width: 100% !important;
    padding: 25px;
  }

  #cartPage {
    width: 100% !important;
  }

  #firstCard {
    width: 100% !important;
  }

  #firsrCard h5 {
    font-size: 15px !important;
  }

  #priceSection {
    flex-wrap: nowrap !important;
    align-items: center;
    /* justify-content: space-between; */
    /* display: none !important; */
  }


  .priceDetails {
    text-align: right !important;
    /* width: 30% !important; */

  }

  #mainCard {
    padding: 0 !important;
  }

  #cartpg-block-2 {
    flex-direction: column;
  }

  #cartpg-block-2 .left {
    width: 100% !important;
  }

  #cartpg-block-2 .right {
    margin: 0 !important;
    width: 100% !important;
  }

  #cartpg-lastBlock {
    flex-direction: column;
  }

  #cartpg-lastBlock .left {
    width: 100% !important;
    padding: 0 !important;
    margin-bottom: 10px;

    border-right: none !important;

  }

  .change-btn {
    /* width: 20%  !important; */
    padding: 20px !important;
  }

  #shippingDetails {
    width: 100% !important;

  }

  #cartpg-lastBlock .right {
    border-top: 1px solid grey;

    width: 100% !important;
    padding: 0 !important;
    padding-top: 10px !important;
  }




}

/* For Mobile */

@media only screen and (max-width : 420px) {

  #homePageNav-mobile{
    display: block;
  }
  #homePageNav-desktop{
    display: none !important;
  }

  #homepageCards {
    display: block;
  }

  .dRow {
    flex-direction: column;
  }

  .navigation ul {
    justify-content: center;
  }

  #homepageTable {
    display: none !important;
  }

  #addButton {
    right: 5%;
  }

  .navigation .lItem-1::after {
    /* display: none; */
    content: "";
    width: 15rem;
    height: 5px;
    position: absolute;
    left: -100%;
    bottom: -10px;
    background-color: yellow;
  }

  #createOrderPage {
    padding: 10px !important;
    width: 100% !important;
  }

  #createOrderPage_2 {
    width: 100% !important;

  }

  #createOrderPage_2 #container {
    padding: 15px;
    width: 100% !important;

  }

  #createOrderPage_2 .card {
    height: auto !important;

  }

  .configureMenuBtns {
    width: 100%;
    padding: 10px;
  }

  #dropdownSelect-2{
    width: 100% !important;
  }

  #createOrderPage_3 {
    width: 100% !important;
    padding: 10px;
    overflow: hidden;
  }

  #createOrderPage_3 .container {
    width: 100% !important;
    padding: 15px;
  }

  #createOrderPage_3 #radioCheck {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }

  .configureMenu .form-check {
    padding-bottom: 13px;
  }

  #block-1 {
    width: auto !important;
  }

  #cartPage {
    width: 100% !important;
  }

  #firstCard {
    width: 100% !important;
  }

  #firsrCard h5 {
    font-size: 15px !important;
  }

  #priceSection {
    align-items: center;
    justify-content: space-evenly;
    display: none !important;
  }

  #priceSection-mobile {
    display: flex !important;
  }

  .quantitySelector {
    width: 50% !important;
  }

  .multiplier {
    text-align: left !important;
    /* width: 30% !important; */

  }

  .priceDetails {
    text-align: right !important;
    /* width: 30% !important; */

  }

  #mainCard {
    padding: 0 !important;
  }

  #cartpg-block-2 .left {
    width: 100% !important;
  }

  #cartpg-block-2 .right {
    margin: 0 !important;
    width: 100% !important;
  }

  #cartpg-lastBlock .left {
    width: 100% !important;
    padding: 0 !important;
    margin-bottom: 10px;

    border-right: none !important;

  }

  .change-btn {
    /* width: 20%  !important; */
    padding: 20px !important;
  }

  #shippingDetails {
    width: 100% !important;

  }

  #cartpg-lastBlock .right {
    border-top: 1px solid grey;

    width: 100% !important;
    padding: 0 !important;
    padding-top: 10px !important;
  }




  #dropdownSelect {
    width: 100px !important;
  }


  #dropDownBtns .btn {
    width: 100px !important;
  }

  .footer .card {
    padding: 10px !important;
    width: 100% !important;
  }

  .footer .card div {
    margin: 0 !important;
  }

  .footer .card .btn {
    width: 100% !important;
    padding: 10px;
  }

}